# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
.ENV/

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg

# Pytest
.cache/

# Ignored data
data/**/*.pt
data_root/
data/raw

#Files
*.pdf
